{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icones/icons8-naruto-sign-210.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static './estilo_img/anime.css' %}">

    <title>Animes</title>
</head>

<body>
    <!--Menu de navegação-->
    <nav>
        <a href="{% url 'index' %}" id="menu_anime">Anime</a>
        <a href="{% url 'manga' %}" id="menu_manga">Mangá</a>
    </nav>

    <!--bara de pesquisa-->
    <div id="div_de_pesquisa">
        <form action="{% url 'busca' %}" method="get">
            <input type="search" name="termo" id="bara_de_pesquisa" placeholder="Pesquise">
        </form>
    </div>


    <p>Minha lista de <span>Animes</span></p>

    <!--Tabela-->
    <table>
        <thead>
            <tr>
                <th>Anime</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for anime in animes %}
            <tr>
                <td><a href="{% url 'ver_detalhe' anime.id %}">{{ anime.nome }}</a></td>
                <td>{{ anime.autor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--Paginação-->
    <div class="pagination">
        {% if animes.has_previous %}
        <a href="?p={{ animes.previous_page_number }}">&laquo;</a>
        <a href="?p={{ animes.previous_page_number }}">{{ animes.previous_page_number }}</a>
        {% endif %}
        <a>{{ animes.number }} / {{ animes.paginator.num_pages }}</a>
        {% comment "Optional note - range de paginação" %}
            {% for pagina in animes.paginator.page_range %}
                <a {% if animes.number == pagina %} class="active" {% endif %} href="?p={{ pagina }}">{{pagina}}</a>
            {% endfor %}
        {% endcomment %}
        {% if animes.has_next %}
        <a href="?p={{ animes.next_page_number }}">{{ animes.next_page_number }}</a>
        <a href="?p={{ animes.next_page_number }}">&raquo;</a>
        {% endif %}
    </div>

</body>

</html>