{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icones/icons8-naruto-sign-210.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static './estilo_img/anime.css' %}">
    <link rel="stylesheet" href="{% static './estilo_img/detalhe.css' %}">

    <title>Animes detalhe</title>
</head>

<body>
    <!--Menu de navegação-->
    <nav>
        <a href="{% url 'index' %}" id="menu_anime">Anime</a>
        <a href="{% url 'manga' %}" id="menu_manga">Mangá</a>
    </nav>

    <!--imagem-->
    {% if manga.foto %}
    <img src="{{ manga.foto.url }}" alt="haikkyu">
    {% else %}
    <img src="{% static './estilo_img/imagens/haikkyu.jpg' %}" alt="haikkyu">
    {% endif %}

    <!--dados-->
    <div>
        <p>{{manga.nome}}</p>
        {% if manga.nome_alternativo %}
        <p>Nome alternativo: {{ manga.nome_alternativo }}</p>
        {% endif %}
        <p>Autor: {{ manga.autor }}</p>
        <p>Ano de lançamento: {{manga.ano_lancamento|date:'Y'}}</p>
    </div>



</body>

</html>