{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icones/icons8-naruto-sign-210.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static './estilo_img/anime.css' %}">

    <title>Mangás</title>
</head>

<body>
    <!--Menu de navegação-->
    <nav>
        <a href="{% url 'index' %}" id="menu_anime">Anime</a>
        <a href="{% url 'manga' %}" id="menu_manga">Mangá</a>
    </nav>

    <!--bara de pesquisa-->
    <div id="div_de_pesquisa">
        <form method="get" action="{% url 'manga_busca' %}">
            <input type="search" name="termo" id="bara_de_pesquisa" placeholder="Pesquise">
        </form>
    </div>


    <p>Minha lista de <span>Mangás</span></p>

    <!--Tabela-->
    <table>
        <tr>
            <th>Mangas</th>
            <th>Autor</th>
        </tr>
        {% for manga in mangas %}
        <tr>
            <td><a href="{% url 'manga_detalhe' manga.id %}">{{manga.nome}}</a></td>
            <td>{{ manga.autor }}</td>
        </tr>
        {% endfor %}
    </table>

    <!--Paginação-->
    <div class="pagination">
        <a href="#">&laquo;</a>
        {% for pagina in mangas.paginator.page_range %}
            <a {% if mangas.number == pagina %} class="active" {% endif %} href="?p={{ pagina }}">{{pagina}}</a>
        {% endfor %}
        <a href="#">&raquo;</a>
    </div>


</body>

</html>